Import

In [32]:
from stroke import *

# Analyse dataset

## Lecture Dataset

In [33]:
# Lecture du fichier CSV
df = pd.read_csv("../healthcare-dataset-stroke-data.csv")

## head

In [34]:


df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

## shape

In [35]:
# Prise en compte des dimensions du dataframe
df.shape

print(f"Le dataframe contient {df.shape[0]} lignes et {df.shape[1]} colonnes")

Le dataframe contient 5110 lignes et 12 colonnes

## info

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

## describe

In [37]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

## % valeurs abberantes et manquantes

Pas d'aberration au vu du describe

## Analyse univariée (a faire pour chaque variable)

### Variable genre

#### correlation au choix (attention, il y a different type)

In [38]:
# Calcul du tableau de contingence
contingency_table = pd.crosstab(df['stroke'], df['gender'])

# Affichage du tableau de contingence
print(contingency_table)

# Test du chi-deux pour l'indépendance
chi2, p, dof, expected = chi2_contingency(contingency_table)
print("Chi2:", chi2)
print("p-value:", p)

if chi2 < p:
    print("Il n'y a pas correlation")
else:
    print("Il y a correlation")

gender  Female  Male  Other
stroke
0         2853  2007      1
1          141   108      0
Chi2: 0.47258662884530234
p-value: 0.7895490538408245
Il n'y a pas correlation

#### graphe

### Variable age

#### correlation au choix (attention, il y a different type)

#### graphe

### Variable hypertension

#### correlation au choix (attention, il y a different type)

#### graphe

### Variable heart_disease

#### correlation au choix (attention, il y a different type)

In [39]:
# Calcul du tableau de contingence
contingency_table = pd.crosstab(df['heart_disease'], df['stroke'])

# Affichage du tableau de contingence
print(contingency_table)

# Test du chi-deux pour l'indépendance
chi2, p, dof, expected = chi2_contingency(contingency_table)
print("Chi2:", chi2)
print("p-value:", p)

if chi2 < p:
    print("Il n'y a pas correlation")
else:
    print("Il y a correlation")

stroke            0    1
heart_disease
0              4632  202
1               229   47
Chi2: 90.25956125843324
p-value: 2.0887845685229236e-21
Il y a correlation

#### graphe

### Variable ever_married

#### correlation au choix (attention, il y a different type)

In [40]:
# Calcul du tableau de contingence
contingency_table = pd.crosstab(df['ever_married'], df['stroke'])

# Affichage du tableau de contingence
print(contingency_table)

# Test du chi-deux pour l'indépendance
chi2, p, dof, expected = chi2_contingency(contingency_table)
print("Chi2:", chi2)
print("p-value:", p)

if chi2 < p:
    print("Il n'y a pas correlation")
else:
    print("Il y a correlation")

stroke           0    1
ever_married
No            1728   29
Yes           3133  220
Chi2: 58.923890259034195
p-value: 1.6389021142314745e-14
Il y a correlation

#### graphe

### Variable work_type

#### correlation au choix (attention, il y a different type)

In [41]:
# Calcul du tableau de contingence
contingency_table = pd.crosstab(df['work_type'], df['stroke'])

# Affichage du tableau de contingence
print(contingency_table)

# Test du chi-deux pour l'indépendance
chi2, p, dof, expected = chi2_contingency(contingency_table)
print("Chi2:", chi2)
print("p-value:", p)

if chi2 < p:
    print("Il n'y a pas correlation")
else:
    print("Il y a correlation")

stroke            0    1
work_type
Govt_job        624   33
Never_worked     22    0
Private        2776  149
Self-employed   754   65
children        685    2
Chi2: 49.163511976675295
p-value: 5.397707801896119e-10
Il y a correlation

#### graphe

### Variable Residence_type

#### correlation au choix (attention, il y a different type)

In [42]:
# Calcul du tableau de contingence
contingency_table = pd.crosstab(df['Residence_type'], df['stroke'])

# Affichage du tableau de contingence
print(contingency_table)

# Test du chi-deux pour l'indépendance
chi2, p, dof, expected = chi2_contingency(contingency_table)
print("Chi2:", chi2)
print("p-value:", p)

if chi2 < p:
    print("Il n'y a pas correlation")
else:
    print("Il y a correlation")

stroke             0    1
Residence_type
Rural           2400  114
Urban           2461  135
Chi2: 1.0816367471627524
p-value: 0.29833169286876987
Il y a correlation

#### graphe

### Variable avg_glucose_level

#### correlation au choix (attention, il y a different type)

#### graphe

### Variable bmi

#### correlation au choix (attention, il y a different type)

#### graphe

### Variable smoking_status

#### correlation au choix (attention, il y a different type)

In [43]:
# Calcul du tableau de contingence
contingency_table = pd.crosstab(df['smoking_status'], df['stroke'])

# Affichage du tableau de contingence
print(contingency_table)

# Test du chi-deux pour l'indépendance
chi2, p, dof, expected = chi2_contingency(contingency_table)
print("Chi2:", chi2)
print("p-value:", p)

if chi2 < p:
    print("Il n'y a pas correlation")
else:
    print("Il y a correlation")

stroke              0   1
smoking_status
Unknown          1497  47
formerly smoked   815  70
never smoked     1802  90
smokes            747  42
Chi2: 29.147269191399264
p-value: 2.0853997025008455e-06
Il y a correlation

#### graphe

## Analyse bi-variée (a faire pour chaque variable)

### Variable 1 + Variable 2

#### correlation au choix (attention, il y a different type)

#### graphe

### Variable 3 + Variable 4

#### correlation au choix (attention, il y a different type)

#### graphe

### Variable 5 + Variable 6

#### correlation au choix (attention, il y a different type)

#### graphe

### Variable 7 + Variable 8

#### correlation au choix (attention, il y a different type)

#### graphe

# Analyse modele

import scikit-learn

Partager dataset

train 70%
test 30%
par exemple

Possibilité de tester 40/60 ou 20/80

## Model 1 (Regression logistique)

### Entrainement du modele

### Test du modele

### Evaluation du modele selon metrics choisit (ex: Precision, accurancy, Recall,...)

## Model 2 ???

### Entrainement du modele

### Test du modele

### Evaluation du modele selon metrics choisit (ex: Precision, accurancy, Recall,...)

## Model 3 ???

### Entrainement du modele

### Test du modele

### Evaluation du modele selon metrics choisit (ex: Precision, accurancy, Recall,...)